#   **NovaPay Fraudulent Transaction Detection Notebook**

### This notebook loads, inspects, and fully cleans the nova_pay_transcations.csv dataset:

* Handles missing values intelligently
* Fixes inconsistent categories (channel, countries, KYC tier)
* Convert columns to proper data types
* Saves a final cleaned CSV for EDA

## Import Required Libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading

In [17]:
# To load data and combine both CSV files
df1 = pd.read_csv("../data/nova_pay_transcations.csv")
df2 = pd.read_csv("../data/nova_pay_fraud_boost.csv")

# Combine them (stacking rows)
df = pd.concat([df1, df2], ignore_index=True)

# To check the number of rows and columns
print("\nðŸ“Œ Dataset Shape:", df.shape)

# Print the top 5 rows
df.head()

ðŸ“Œ Dataset Shape: (11400, 26)

,transaction_id,customer_id,timestamp,home_country,source_currency,dest_currency,channel,amount_src,amount_usd,fee,...,ip_risk_score,kyc_tier,account_age_days,device_trust_score,chargeback_history_count,risk_score_internal,txn_velocity_1h,txn_velocity_24h,corridor_risk,is_fraud
0,fee8542d-8ee6-4b0d-9671-c294dd08ed26,402cccc9-28de-45b3-9af7-cc5302aa1f93,2022-10-03 18:40:59.468549+00:00,US,USD,CAD,ATM,278.19,278.19,4.25,...,0.123,standard,263,0.522,0,0.223,0,0,0.0,0
1,bfdb9fc1-27fe-4a85-b043-4d813d679259,67c2c6b3-ef0a-4777-a3f1-c84a851bb6ad,2022-10-03 20:39:38.468549+00:00,CA,CAD,MXN,web,208.51,154.29,4.24,...,0.569,standard,947,0.475,0,0.268,0,1,0.0,0
2,fc855034-3ea5-4993-9afa-b511d93fe5e8,6d0d9b27-fa26-45f8-93b1-2df29d182d9c,2022-10-03 23:02:43.468549+00:00,US,USD,CNY,mobile,160.33,160.33,2.70,...,0.437,enhanced,367,0.939,0,0.176,0,0,0.0,0
3,2cf8c08e-42ec-444d-a755-34b9a2a0a4ca,7bd5200c-5d19-44f0-9afe-8b339a05366b,2022-10-04 01:08:53.468549+00:00,US,USD,EUR,mobile,59.41,59.41,2.22,...,0.594,standard,147,0.551,0,0.391,0,0,0.0,0
4,d907a74d-b426-438d-97eb-dbe911aca91c,70a93d26-8e3a-4179-900c-a4a7a74d08e5,2022-10-04 09:35:03.468549+00:00,US,USD,INR,mobile,200.96,200.96,3.61,...,0.121,enhanced,257,0.894,0,0.257,0,0,0.0,0

## Data Information

In [19]:
# Investigate the dataset for annomalies and data types

print("\nðŸ“Œ Dataset Info:")
df.info()

ðŸ“Œ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11400 entries, 0 to 11399
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   transaction_id             11400 non-null  object
 1   customer_id                11400 non-null  object
 2   timestamp                  11371 non-null  object
 3   home_country               11400 non-null  object
 4   source_currency            11400 non-null  object
 5   dest_currency              11400 non-null  object
 6   channel                    11400 non-null  object
 7   amount_src                 11400 non-null  object
 8   amount_usd                 11095 non-null  float64
 9   fee                        11105 non-null  float64
 10  exchange_rate_src_to_dest  11400 non-null  float64
 11  device_id                  11400 non-null  object
 12  new_device                 11400 non-null  bool
 13  ip_address                 11095 non-null  object
 14  ip_country                 11099 non-null  object
 15  location_mismatch          11400 non-null  bool
 16  ip_risk_score              11400 non-null  float64
 17  kyc_tier                   11100 non-null  object
 18  account_age_days           11400 non-null  int64
 19  device_trust_score         11105 non-null  float64
 20  chargeback_history_count   11400 non-null  int64
 21  risk_score_internal        11400 non-null  float64
 22  txn_velocity_1h            11400 non-null  int64
 23  txn_velocity_24h           11400 non-null  int64
 24  corridor_risk              11400 non-null  float64
 25  is_fraud                   11400 non-null  int64
dtypes: bool(2), float64(7), int64(5), object(12)
memory usage: 2.1+ MB

## Convert columns to proper data types

In [21]:
# Convert timestamp data type to datetime                 
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

# Convert amount_src data type to float
df['amount_src'] = df['amount_src'].str.replace(',', '').astype(float)

# Convert bool data types to integer
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)


print("\nâœ… data types converted")

âœ… data types converted

In [25]:
# Examine the columns of the data

print("\nðŸ“Œ Dataset Columns:")
df.columns

ðŸ“Œ Dataset Columns:

Index(['transaction_id', 'customer_id', 'timestamp', 'home_country',
       'source_currency', 'dest_currency', 'channel', 'amount_src',
       'amount_usd', 'fee', 'exchange_rate_src_to_dest', 'device_id',
       'new_device', 'ip_address', 'ip_country', 'location_mismatch',
       'ip_risk_score', 'kyc_tier', 'account_age_days', 'device_trust_score',
       'chargeback_history_count', 'risk_score_internal', 'txn_velocity_1h',
       'txn_velocity_24h', 'corridor_risk', 'is_fraud'],
      dtype='object')

## Examine dataset duplicate values

In [27]:
# Check for duplicate values

print("\nðŸ“Œ Dataset Columns:")
df.duplicated().sum()

ðŸ“Œ Dataset Columns:

200

In [29]:
# To drop duplicate

df = df.drop_duplicates()

print("\nâœ… Duplicates dropped")

âœ… Duplicates dropped

In [33]:
df.describe()

,amount_src,amount_usd,fee,exchange_rate_src_to_dest,new_device,location_mismatch,ip_risk_score,account_age_days,device_trust_score,chargeback_history_count,risk_score_internal,txn_velocity_1h,txn_velocity_24h,corridor_risk,is_fraud
count,10000.000000,10900.000000,10910.000000,11200.000000,11200.000000,11200.000000,11200.000000,11200.000000,10910.000000,11200.000000,11200.000000,11200.000000,11200.000000,11200.000000,11200.000000
mean,396.033808,451.710904,99.212001,167.453693,0.119286,0.162946,0.397541,392.848571,0.653238,0.049375,0.267653,0.463839,0.732411,0.045406,0.088839
std,1392.363927,1401.028359,952.526927,381.930143,0.324139,0.369333,0.271213,342.123998,0.273174,0.258388,0.143521,1.532671,1.970835,0.084876,0.284524
min,-9997.160000,7.230000,-1.000000,0.592000,0.000000,0.000000,0.004000,1.000000,-0.100000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000
25%,86.117500,92.492500,2.380000,1.000000,0.000000,0.000000,0.209000,147.000000,0.515000,0.000000,0.169000,0.000000,0.000000,0.000000,0.000000
50%,148.480000,163.485000,3.500000,7.142857,0.000000,0.000000,0.325000,293.000000,0.654500,0.000000,0.223000,0.000000,0.000000,0.000000,0.000000
75%,263.022500,302.707500,5.560000,73.529412,0.000000,0.000000,0.488000,661.000000,0.894000,0.000000,0.391000,0.000000,0.000000,0.050000,0.000000
max,9998.910000,12498.570000,9999.990000,1388.888889,1.000000,1.000000,1.200000,1095.000000,0.999000,2.000000,0.900000,8.000000,11.000000,0.250000,1.000000

In [35]:
# Categorical Statisticcal Analysis

df.describe(include="object")

,transaction_id,customer_id,home_country,source_currency,dest_currency,channel,device_id,ip_address,ip_country,kyc_tier
count,11200,11200,11200,11200,11200,11200,11200,10900,10904,10905
unique,11200,1315,7,3,9,12,2113,10900,9,14
top,fee8542d-8ee6-4b0d-9671-c294dd08ed26,402cccc9-28de-45b3-9af7-cc5302aa1f93,US,USD,NGN,mobile,e70db499-19e1-4927-b04f-3ebfcf62e33c,221.78.171.180,US,standard
freq,1,1483,7784,7875,1447,6242,85,1,6713,7780

In [37]:
# Examine the categorical columns of the data

categorical = df.select_dtypes(include="object")

categorical.head()

,transaction_id,customer_id,home_country,source_currency,dest_currency,channel,device_id,ip_address,ip_country,kyc_tier
0,fee8542d-8ee6-4b0d-9671-c294dd08ed26,402cccc9-28de-45b3-9af7-cc5302aa1f93,US,USD,CAD,ATM,9f292dcc-3297-4947-a260-6a1ef69041ff,221.78.171.180,US,standard
1,bfdb9fc1-27fe-4a85-b043-4d813d679259,67c2c6b3-ef0a-4777-a3f1-c84a851bb6ad,CA,CAD,MXN,web,3a95b9f5-309f-4684-a46d-e2ff2435bf78,120.12.20.29,CA,standard
2,fc855034-3ea5-4993-9afa-b511d93fe5e8,6d0d9b27-fa26-45f8-93b1-2df29d182d9c,US,USD,CNY,mobile,a4737752-9aac-43ed-9d8b-2ccdffc24052,223.96.181.93,US,enhanced
3,2cf8c08e-42ec-444d-a755-34b9a2a0a4ca,7bd5200c-5d19-44f0-9afe-8b339a05366b,US,USD,EUR,mobile,6aeb85a3-5603-4221-896c-9e6882764f1a,186.228.15.74,US,standard
4,d907a74d-b426-438d-97eb-dbe911aca91c,70a93d26-8e3a-4179-900c-a4a7a74d08e5,US,USD,INR,mobile,a5b9250e-dbe0-4c5f-a6e7-5492b7349402,11.82.47.62,US,enhanced

## Examine columns for disparities

In [39]:
# Examine the unique features in the categorical columns of the data

# List of columns to ignore
id_columns = ["transaction_id", "customer_id", "device_id", "ip_address", "timestamp"]

for col in categorical.columns:
    if col not in id_columns:
        print(f"\nColumn: {col}")
        print("Unique values:", categorical[col].unique())
        print("Count of unique values:", categorical[col].nunique())

Column: home_country
Unique values: ['US' 'CA' 'UK' ' UK  ' ' US  ' 'unknown' ' CA  ']
Count of unique values: 7

Column: source_currency
Unique values: ['USD' 'CAD' 'GBP']
Count of unique values: 3

Column: dest_currency
Unique values: ['CAD' 'MXN' 'CNY' 'EUR' 'INR' 'GBP' 'PHP' 'NGN' 'USD']
Count of unique values: 9

Column: channel
Unique values: ['ATM' 'web' 'mobile' 'WEB' ' web  ' 'MOBILE' 'mobille' 'unknown'
 ' mobile  ' 'weeb' 'ATm' ' ATM  ']
Count of unique values: 12

Column: ip_country
Unique values: ['US' 'CA' nan 'UK' ' US  ' 'NAN' 'unknown' ' CA  ' ' UK  ' ' nan  ']
Count of unique values: 9

Column: kyc_tier
Unique values: ['standard' 'enhanced' 'low' ' standard  ' nan 'standrd' ' enhanced  '
 'STANDARD' 'NAN' 'unknown' 'enhancd' ' low  ' 'ENHANCED' 'LOW' ' nan  ']
Count of unique values: 14

## Fix the disparities within the columns

#### These are the identified disparities within each columns

#### home_country
 ' US  ' to 'US' 
 
 ' CA  ' to 'CA' 
 
 ' UK  ' to 'UK' 

#### channel
'ATm', ' ATM  ' to 'ATM'

'mobile', 'mobille', ' mobile  ' to 'MOBILE'

'web', ' web  ', 'weeb' to 'WEB'

#### ip_country
' US  ' to 'US'

' UK  ' to 'UK'

' CA  ' to 'CA'

' nan  ', 'unknown' to 'NAN'

#### kyc_tier
'standard', ' standard  ', 'standrd' to 'STANDARD'

'enhanced', ' enhanced  ', 'enhancd' to 'ENHANCED'

'low', ' low  ' to 'LOW'

' nan  ', 'unknown' to 'NAN'

In [42]:
# fix the disparities

def fix_home_country(x):
    if x == " US  ":
        return "US"
    elif x == " UK  ":
        return "UK"
    elif x == " CA  ":
        return "CA"
    elif x == "unknown":
        return np.nan
    else:
        return x

def fix_channel(x):
    if x == "ATm" or x == " ATM  ":
        return "ATM"
    elif x == "mobile" or x == "mobille" or x == " mobile  ":
        return "MOBILE"
    elif x == "web" or x == " web  " or x == "weeb":
        return "WEB"
    elif x == "unknown":
        return np.nan
    else:
        return x

def fix_ip_country(x):
    if x == " US  ":
        return "US"
    elif x == " UK  ":
        return "UK"
    elif x == " CA  ":
        return "CA"
    elif x == " nan  " or x == "unknown" or x == "NAN":
        return np.nan
    else:
        return x

def fix_kyc_tier(x):
    if x == "standard" or x == " standard  " or x == "standrd":
        return "STANDARD"
    elif x == "enhanced" or x == " enhanced  " or x == "enhancd":
        return "ENHANCED"
    elif x == "low" or x == " low  ":
        return "LOW"
    elif x == " nan  " or x == "unknown" or x == "NAN":
        return np.nan
    else:
        return x

In [44]:
df["home_country"] = df["home_country"].apply(fix_home_country)
df["channel"] = df["channel"].apply(fix_channel)
df["ip_country"] = df["ip_country"].apply(fix_ip_country)
df["kyc_tier"] = df["kyc_tier"].apply(fix_kyc_tier)

print("\nâœ…columns disparities fixed")

âœ…columns disparities fixed

In [46]:
# Categorical Statisticcal Analysis

df.describe(include="object")

,transaction_id,customer_id,home_country,source_currency,dest_currency,channel,device_id,ip_address,ip_country,kyc_tier
count,11200,11200,11168,11200,11200,11163,11200,10900,10869,10871
unique,11200,1315,3,3,9,3,2113,10900,3,3
top,fee8542d-8ee6-4b0d-9671-c294dd08ed26,402cccc9-28de-45b3-9af7-cc5302aa1f93,US,USD,NGN,MOBILE,e70db499-19e1-4927-b04f-3ebfcf62e33c,221.78.171.180,US,STANDARD
freq,1,1483,7852,7875,1447,6395,85,1,6761,7985

***Insight:*** This shows the updated statistical analysis for the categorical columns. It shows the total counts, unqiue features and the frequency of the top unique features after the disparities have been fixed.

## Fix ranges in the dataset

In [69]:
# Fix Ranges: Coerce numerics; fix negatives/out-of-range; clip scores to [0,1]

def fix_ranges(df: pd.DataFrame) -> pd.DataFrame:
  
    # Fix negative money values
    for col in ['amount_src', 'amount_usd', 'fee']:
        if col in df.columns:
            df.loc[df[col] < 0, col] = np.nan

    # Clean Score Features (Keep Range 0 to 1)
    for col in ['ip_risk_score', 'device_trust_score', 'risk_score_internal', 'corridor_risk']:   
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')
            df.loc[df[col] < 0, col] = 0.0
            df.loc[df[col] > 1, col] = 1.0
    
     # Fix Transaction Velocity Columns (These columns count number of transactions they must be whole numbers and never negative.)
    for col in ['txn_velocity_1h', 'txn_velocity_24h']: 
         if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')
            df.loc[df[col] < 0, col] = 0
            df[col] = df[col].fillna(0).astype(int)
    return df

In [71]:
df = fix_ranges(df)

print("\nâœ… Ranges fixed")

âœ… Ranges fixed

## Handling Missing Values

In [54]:
# To check missing values per column
print("\nðŸ“Œ Missing Values per Column")
print(df.isnull().sum())

ðŸ“Œ Missing Values per Column
transaction_id                  0
customer_id                     0
timestamp                      60
home_country                   32
source_currency                 0
dest_currency                   0
channel                        37
amount_src                   1300
amount_usd                    300
fee                           390
exchange_rate_src_to_dest       0
device_id                       0
new_device                      0
ip_address                    300
ip_country                    331
location_mismatch               0
ip_risk_score                   0
kyc_tier                      329
account_age_days                0
device_trust_score            290
chargeback_history_count        0
risk_score_internal             0
txn_velocity_1h                 0
txn_velocity_24h                0
corridor_risk                   0
is_fraud                        0
dtype: int64

In [56]:
# Drop 60 missing in Timestamp

df = df.dropna(subset=['timestamp'])

# Compute missing amount_usd

df['amount_usd'] = df['amount_usd'].fillna(
    df['amount_src'] * df['exchange_rate_src_to_dest']
)

# Fill missing fee

df['fee'] = df['fee'].fillna(df['fee'].median())

# Fill missing IP  - "MISSING" is better for ip_address because When the value is missing from the dataset: 
#"MISSING" clearly means; The system never received any IP address value. (It could be various reasons like: User deliberately removed IP,VPN hides location, IP lookup failed technically, User never used Internet etc.)
# This is not the same as "Unknown" (which means the value was received but not identifiable).
# And these two can have very different fraud behaviors.

df['ip_address'] = df['ip_address'].fillna("MISSING")

# Fill missing Country - Since IP country normally comes from IP lookup, If IP is missing, country is also unknown

df['ip_country'] = df['ip_country'].fillna("Unknown")

# KYC Tier missing - Users may not complete KYC â†’ this itself may indicate risk. Fill with "Not Verified" (better than UNKNOWN)

df['kyc_tier'] = df['kyc_tier'].fillna("Not_Verified")

# Device trust score

df['device_trust_score'] = df['device_trust_score'].fillna(df['device_trust_score'].median())

# Compute amount_src  
df['amount_src'] = df['amount_src'].fillna(df['amount_usd'] / df['exchange_rate_src_to_dest'])

# Drop rows wher both amount_src and amount_usd are missing
df = df.dropna(subset=['amount_src', 'amount_usd'], how='all')

# Fill missing home country with unknown
df['home_country'] = df['home_country'].fillna('Unknown')

# Fill missing channel with unknown
df['channel'] = df['channel'].fillna('Unknown')

# To re-check missing values per column
print("\nðŸ“Œ Missing Values per Column")
print(df.isnull().sum())

ðŸ“Œ Missing Values per Column
transaction_id               0
customer_id                  0
timestamp                    0
home_country                 0
source_currency              0
dest_currency                0
channel                      0
amount_src                   0
amount_usd                   0
fee                          0
exchange_rate_src_to_dest    0
device_id                    0
new_device                   0
ip_address                   0
ip_country                   0
location_mismatch            0
ip_risk_score                0
kyc_tier                     0
account_age_days             0
device_trust_score           0
chargeback_history_count     0
risk_score_internal          0
txn_velocity_1h              0
txn_velocity_24h             0
corridor_risk                0
is_fraud                     0
dtype: int64

## Final dataset check

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11137 entries, 0 to 11399
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   transaction_id             11137 non-null  object
 1   customer_id                11137 non-null  object
 2   timestamp                  11137 non-null  datetime64[ns, UTC]
 3   home_country               11137 non-null  object
 4   source_currency            11137 non-null  object
 5   dest_currency              11137 non-null  object
 6   channel                    11137 non-null  object
 7   amount_src                 11137 non-null  float64
 8   amount_usd                 11137 non-null  float64
 9   fee                        11137 non-null  float64
 10  exchange_rate_src_to_dest  11137 non-null  float64
 11  device_id                  11137 non-null  object
 12  new_device                 11137 non-null  int32
 13  ip_address                 11137 non-null  object
 14  ip_country                 11137 non-null  object
 15  location_mismatch          11137 non-null  int32
 16  ip_risk_score              11137 non-null  float64
 17  kyc_tier                   11137 non-null  object
 18  account_age_days           11137 non-null  int64
 19  device_trust_score         11137 non-null  float64
 20  chargeback_history_count   11137 non-null  int64
 21  risk_score_internal        11137 non-null  float64
 22  txn_velocity_1h            11137 non-null  int32
 23  txn_velocity_24h           11137 non-null  int32
 24  corridor_risk              11137 non-null  float64
 25  is_fraud                   11137 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(8), int32(4), int64(3), object(10)
memory usage: 2.1+ MB

## Save the Cleaned Dataset

In [81]:
# Save cleaned data 

df_cleaned = df.copy()

df_cleaned.to_csv(r"C:\Users\pehlu\OneDrive\projects\Nova\Data\Nova_cleaned_df.csv", index=False)